.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding: var(--default-padding);
  background-color: var(--black-color);
  border-top: 1px solid rgba(255, 255, 255, 0.17);
}
.footer-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--default-gap);
}
.footer-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--default-gap);
}
@media screen and (max-width: 300px) {
  .footer-links {
    flex-direction: column;
  }
}
.footer-link {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 10px;
}
.footer-link-title {
  color: white;
  font-size: 12px;
  font-weight: bold;
}
.footer-link-img {
  width: 32px;
}
.footer-text {
  color: white;
  font-size: 24px;
}
@media screen and (max-width: 300px) {
  .footer-text {
    font-size: 16px;
  }
}
