.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: fit-content;
  width: 100%;
  padding: 16px;
  background-color: var(--black-color);
}
.nav-items {
  display: flex;
  width: 100%;
  max-width: 1024px;
  justify-content: space-between;
}
.nav-title {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.logo {
  width: 55px;
  height: 55px;
}
.logo-title {
  color: white;
  font-size: 48px;
}
